@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

/* 
Fonts family
font-family: 'Open Sans', sans-serif;

Weight
300, 400, 500, 600, 700

Primary color
color: rgb(2, 2, 78);
*/

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.navbar-brand{
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar-brand span{
    color: rgb(141, 6, 6);
}

.hamburger{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

#navbar{
    display: flex;
    list-style-type: none;
    margin: 0px 16px 0px 0px;
}

#navbar li a{
    padding: 2em;
    transition: 1s ease;
}

#navbar li:hover{
    color: rgb(141, 6, 6);
}

.nav-item.active{
    color: rgb(141, 6, 6);
    font-weight: 600;
}

.hContentHead{
    background-color: rgba(141, 6, 6, 0.445);
}

.intro{
    font-size: 12px;
    color: rgb(255, 217, 217);
    border: 1px solid rgb(141, 6, 6);
    border-radius: 15px;
    max-width: 9rem;
    padding: 8px;
    text-align: center;
}

.hContent h1{
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
}

.para{
    color: rgb(255, 217, 217);
    font-weight: 600;
    max-width: 30em;
}

.hContent button{
    border: none;
    padding: 1rem 3rem;
    border-radius: 8px;
    background-color: rgb(141, 6, 6);
    color: #fff;
    font-weight: 500;
    letter-spacing: 1.5px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(141, 6, 6, 0.274);
    transition: 1s ease;
}

.hContent button:hover{
    background-color: transparent;
    border: 1px solid rgb(141, 6, 6);
}

.myDP{
    z-index: -1;
    width: 350px;
}

#about{
    margin-top: 8em;
}

.head{
    margin-bottom: 2em;
    font-weight: 700;
}

.profile{
    border-radius: 4px;
    padding-top: 2em;
    padding-left: 4em;
    padding-right: 4em;
    background-color: rgba(141, 6, 6, 0.158);
}

.profileText h6{
    font-weight: 700;
    color: rgb(141, 6, 6);
}

.profileText p{
    color: rgb(138, 136, 136);
    max-width: 28em;
}

.profileText button{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgb(141, 6, 6);
    color: rgb(141, 6, 6);
    background-color: transparent;
    transition: 1s ease;
    cursor: pointer;
}

.profileText button:hover{
    background-color: rgba(141, 6, 6, 0.445);
    border: none;
    color: #fff;
}

#service{
    background-color: rgb(240, 240, 240);
    margin-top: 8em;
    margin-bottom: 8em;
    padding: 4em;
}

#service h1{
    font-weight: 700;
    margin-bottom: 0.5em;
}

#servtext{
    font-weight: 500;
    color: rgb(82, 82, 82);
    max-width: 30em;
    margin: 0 auto;
}

.ServCol{
    margin-top: 5em;
}












/* Responsive styling */

@media(max-width: 991px){
    #navbar{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .hamburger-close{
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    .intro{
        display: none;
    }

    .hContent h1{
        font-size: 3rem;
        text-align: center;
    }
    
    .para{
        text-align: center;
    }
    
    .hContent .button1{
        text-align: center;
        margin-bottom: 3em;
    }

    .profileText h6{
        display: none;
    }
    
    .profileText p{
        text-align: center;
    }
    
    .profileText .button{
        text-align: center;
        margin-bottom: 3em;
        color: rgb(255, 217, 217);
    }

    .second{
        margin: 2em 0;
    }

    
 
}



@media(max-width: 355px){
    .myDP{
        max-width: 100%;
    }
}
