@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

/* 
Fonts family
font-family: 'Open Sans', sans-serif;

Weight
300, 400, 500, 600, 700

Primary color
color: rgb(2, 2, 78);
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.navbar-brand{
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar-brand span{
    color: rgb(141, 6, 6);
}

.hamburger{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

#navbar li a{
    padding: 2em;
    transition: 1s ease;
}

#navbar li a:hover{
    color: rgb(141, 6, 6);
}

.nav-item.active{
    color: rgb(141, 6, 6);
}









@media(max-width: 991px){
    #navbar{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .hamburger-close{
        font-size: 1.5rem;
        cursor: pointer;
    }
    
}
